@font-face {
	font-family: RobotoMono-Light;
	src: url(../fonts/RobotoMono-Light.ttf);
}

* {
	font-family: RobotoMono-Light;
	color: rgb(7, 255, 69);
	background-color: black;
}

input {
	color: black;
	background-color: white;
}

button {
	background-color: rgb(31, 31, 31);
}

td {
	border: 1px solid black;
	background-color: rgb(31, 31, 31);
}
